---
import FlipCard from "./FlipCard.astro";
---

<FlipCard colSpan="md:col-span-1" rowSpan="md:row-span-4" color="bg-[#050505]" borderColor="border-emerald-500" class="h-[240px] lg:h-full">
  <div slot="front" class="flex flex-col justify-between h-full">
    <div class="flex flex-col gap-2">
      <h2 class="text-xl font-bold mb-2 font-sans">Tech Skills</h2>
      <div class="text-sm font-light font-sans">
        <ul class="list-disc list-inside">
          <li>Python</li>
          <li>Agent-based modeling</li>
          <li>LLM agents</li>
          <li>Urban & mobility data</li>
          <li>Geospatial/network analysis</li>
          <li>Astro</li>
        </ul>
      </div>
    </div>
    <p class="text-xs text-gray-500 mt-2 text-right font-sans">Hobbies on back...</p>
  </div>

  <div slot="back" class="flex flex-col justify-between h-full">
    <div class="flex flex-col gap-2">
       <h2 class="text-xl font-bold mb-2 font-sans">Hobbies</h2>
       <div class="text-sm font-light font-sans">
          <ul class="list-disc list-inside">
            <li>Photography</li>
            <li>Climbing</li>
            <li>Powerlifting</li>
            <li>Basketball</li>
            <li>Traveling</li>
          </ul>
       </div>
    </div>
  </div>
</FlipCard>
